.container {
  color:#726371;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.yearsContainer {
  display: flex;
  justify-content: space-between;
}

.listItem {
  display: inline;
  padding: 10px;
  color: #AAA4AB;
  flex: inherit;
}

.link {
  display: inline-block;
  padding:5px;
  font-size: 1.3em;
  border: 0;
  font-family: inherit;
}

.link:hover {
  color: black;
  cursor: pointer;
}

.linkActive {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
