{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel", "transform-class-properties"],
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
