{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "mocha": true
  },
  "plugins": ["react", "prettier", "emotion", "react-hooks", "tree-shaking"],
  "rules": {
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "warn",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error",
    "jsx-a11y/img-has-alt": 0,
    "prefer-arrow-callback": 0,
    "no-underscore-dangle": 0,
    "func-names": 2,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 1,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.story.js", "**/*.test.js", "**/rollup.config.js"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "tree-shaking/no-side-effects-in-initialization": 2
  },
  "globals": {
    "__DEV__": true,
    "window": true,
    "document": true,
    "describe": true,
    "it": true,
    "jest": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
