node_modules
coverage
reports
build
dist
es
lib-cov

*.log*
.lock-wscript
.idea
.DS_Store
*.sw[onp]
civic.iml
.vscode
package-lock.json

.yarn/*git a
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/cache