.NavRouterLink a {
  color: rgba(255,255,255,.65);
  flex: 1;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

.NavRouterLink a:focus {
    color: rgba(255,255,255,.85);
}

.NavRouterLink a:hover {
    color: rgba(255,255,255,.85);
    text-decoration: none;
}

.NavRouterLink a:active {
    color: rgba(255,255,255,.85);
}
