.slider-container {
  width: 80%;
  margin: 40px auto;
}
.slider-container .slider {
  margin-bottom: 2em;
}

.rc-slider-tooltip-inner {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: none;
  vertical-align: middle;
}
.rc-slider-tooltip-inner:before {
  content: '$ ';
}

.rc-slider-track {
  background-color: #25b29e;
  height: 4px;
}

.rc-slider-handle {
  border-color: #25b29e;
  background-color: #25b29e;
  width: 14px;
  height: 14px;
}

.rc-slider-handle:hover {
  border-color: #25b29e;
}

.rc-slider-tooltip-placement-points-bc-tc .rc-slider-tooltip-arrow {
  border-top-color: #000;
}

.panel-body {
  background-color: #efefef;
}

.hour,
.day,
.week,
.month,
.year {
  font-weight: bold;
  font-size: 1.2em;
}
