/* Offline fonts for Game */
@font-face {
  font-family: "Luckiest Guy";
  src: url("../assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Boogaloo";
  src: url("../assets/fonts/Boogaloo-Regular.ttf") format("truetype");
}
