ul {
  list-style: none;
  padding: 0;
}

li {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

ul li {
  flex: 1 1 100%;
}

.Header a {
  font-family: 'filson-soft', sans-serif;
  font-size: 1.25em;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
}

.Header a:hover {
  border: none;
}