
.Hero {
  display: flex;
  background-color: rgba(34, 15, 37,1);
  height: 50vh;
  min-height: 420px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  z-index: -100;
  align-items: center;
  justify-content: center;
}

.Hero > .Container {
  width: 100%;
  max-width: 800px;
}

.Hero > .Container > .Content {
  position: relative;
  padding: 0px;
}

.Content > h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: rgba(255,255,255,1);
  font-weight: 100;
}

/* --- Platform Hero --- */

.Platform.Hero {
  height: 100vh;
}

.Platform.Hero .Content {
  width: 100%;
  height: 50vh;
  min-height: 420px;
}

.Platform.Hero .Content h1 {
  position: absolute;
  text-transform: uppercase;
  font-size: 5em;
}

.Platform.Hero .Explore {
  font-family: "Rubik", sans-serif;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgba(255,255,255,.5);
  position: relative;
}

.Platform.Hero {
  -webkit-animation-name: animation;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;
  background-color:rgba(34,15,37,1);

  animation-name: animation;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;
  background-color:rgba(34,15,37,1);
}

@-webkit-keyframes animation {
    0%     {background-color:rgba(34,15,37,1);}
    16.0%     {background-color:rgba(34,15,37,1);}
    33.0%  {background-color:rgba(117,87,141,1);}
    50.0%  {background-color:rgba(215,27,97,1);}
    66.0%  {background-color:rgba(63,118,172,1);}
    83.0%   {background-color:rgba(50,159,151,1);}
    100.0%  {background-color:rgba(34,15,37,1);}
}

@keyframes animation {
    0%     {background-color:rgba(34,15,37,1);}
    16.0%     {background-color:rgba(34,15,37,1);}
    33.0%  {background-color:rgba(117,87,141,1);}
    50.0%  {background-color:rgba(215,27,97,1);}
    66.0%  {background-color:rgba(63,118,172,1);}
    83.0%   {background-color:rgba(50,159,151,1);}
    100.0%  {background-color:rgba(34,15,37,1);}
}

.Platform.Hero .Content h1.step-1 {
  -webkit-animation-name: step-1;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-1;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-1 {
    0%     {opacity:1;color: rgba(117,87,141,1);}
    16.0%     {opacity:1;color: rgba(117,87,141,1);}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

@keyframes step-1 {
    0%     {opacity:1;color: rgba(117,87,141,1);}
    16.0%     {opacity:1;color: rgba(117,87,141,1);}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

.Platform.Hero .Content h1.step-2 {
  -webkit-animation-name: step-2;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-2;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-2 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:1;color: rgba(250,208,99,1);}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

@keyframes step-2 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:1;color: rgba(250,208,99,1);}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

.Platform.Hero .Content h1.step-3 {
  -webkit-animation-name: step-3;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-3;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-3 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:1; color: rgba(63,118,172,1);}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

@keyframes step-3 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:1; color: rgba(63,118,172,1);}
    66.0%  {opacity:0;}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

.Platform.Hero .Content h1.step-4 {
  -webkit-animation-name: step-4;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-4;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-4 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:1;color: rgba(232,115,37,1);}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

@keyframes step-4 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:1;color: rgba(232,115,37,1);}
    83.0%   {opacity:0;}
    100.0%  {opacity:0;}
}

.Platform.Hero .Content h1.step-5 {
  -webkit-animation-name: step-5;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-5;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-5 {
    0%     {opacity:0;}
    16.0%  {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%  {opacity:1;color: rgba(117,87,141,1);}
    100.0% {opacity:0;}
}

@keyframes step-5 {
    0%     {opacity:0;}
    16.0%  {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    66.0%  {opacity:0;}
    83.0%  {opacity:1;color: rgba(117,87,141,1);}
    100.0% {opacity:0;}
}

.Platform.Hero .Content h1.step-6 {
  -webkit-animation-name: step-6;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-play-state: running;

  animation-name: step-6;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-play-state: running;

}

@-webkit-keyframes step-6 {
    0%     {opacity:0;}
    16.0%     {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    67.0%  {opacity:0;}
    83.0%  {opacity:0;}
    100.0%  {opacity:1;color: rgba(238,74,92,1);}
}

@keyframes step-6 {
    0%     {opacity:0;}
    16.0%  {opacity:0;}
    33.0%  {opacity:0;}
    50.0%  {opacity:0;}
    67.0%  {opacity:0;}
    83.0%  {opacity:0;}
    100.0%  {opacity:1;color: rgba(238,74,92,1);}
}

/* --- Collection Heroes */

.Collection.Hero h1 {
  margin-top: 50px;
}

.Page.Hero {
  height: 50vh;
}

.Page .Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Page .Container .Content {
  margin: 40px auto;
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Page p { max-width: 600px; }

.Page p.large { font-size: 1.5em; }

.Page ul { list-style:none; margin: 0; padding: 0px; }

.Page li { list-style:none; margin: 10px 0px; padding: 0px; color: rgba(114,99,113,1); }

.Collection.column h3 { padding-bottom:  10px; border-bottom: 2px solid rgba(34,15,37,1); }

/* Layout Utilities */

.column { flex-direction: column; width: calc(33% - 15px); padding: 0px 15px 0px 0px;}

.row { flex-direction: row; width: 100%;}

.Platform.column { width: calc(50% - 15px); }

/* Tag */

a.Tag {
  border: 2px solid rgba(255,255,255,0.85);
  padding: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.85);
  font-size: 1.25em;
  letter-spacing: 0.025em;
  pointer-events: none;
}

/* Link */

a {
  text-decoration: none;
  color: rgba(238,73,92,.85);
}

a:hover {
  color: rgba(238,73,92,1);
}

a.Link {
  border-bottom: 2px solid rgba(255,255,255,0.85);
  transition: all .2s step-start;
}

a.Link {
  color: rgba(255,255,255,0.85);
    padding: 6px 6px 6px 6px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

a.Link i {
  margin-left: 12px;
}

a.Link:hover {
    border-color: rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

a.Link:focus {
    outline: none;
}

/* responsive overrides */

@media screen and (max-width: 1200px) {

  .Header {
    width: 100%;
    background-color: transparent;
    padding: 20px 20px;
    height: 100px;
    position: fixed;
  }

  .Header .Nav {
    display: none;
  }

  .Header .Logo {
    text-align: center;
  }

  .Footer .Content {
    flex-direction: column-reverse;
  }

  .Platform.Hero .Container {
    width: calc(100% - 50px);
    padding: 25px;
  }

  .Platform.Hero .Content h1 {
    font-size: 3em;
  }

  .Hero > .Container > .Content {
    width: calc(100% - 50px);
    padding: 25px;
  }

  .Collection.Hero {
    background-position: center center;
  }

  .Content h1 { font-size: 2em; }

  .column { width: 100%; }

  .Page .Container .Content{
  padding: 25px;
  }

}

@media screen and (min-width: 1200px) and (max-height: 900px) {

  .Platform.Hero .Explore, .Platform.Hero .Explore i {
    display: none; }

}





/* Color References
@value primary: rgba(34,15,37,1);
@value secondary: rgba(238,73,92,1);
@value tertiary: rgba(114,99,113,1);
@value medium: rgba(170,164,171,1);
@value subdued: rgba(243,242,243,1);
@value offwhite: rgba(255,254,254,1);
@value midnight: rgba(0,23,50,1);
*/
