.budget {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.publicIcons {
  width: 75px;
  height: 75px;
}

.breakdown {
  text-align: left;
  width: 80%;
  height: 80%;
}

.arrows {
  width: 25%;
  height: 25%;
}

#LearnAbout {
  text-align: left;
  margin: 0 -50px;
  padding: 50px;
  background: #f3f2f3;
}

.resources li {
  list-style-type: none;
  text-align: left;
  margin-left: -40px;
  margin-bottom: 10px;
}

.budgetlink {
  border-width: 3px;
  width: 400px;
  border-color: black;
  border-style: solid;
}

.col {
  margin-top: 20px;
  margin-bottom: 20px;
}

.greenText {
  color: #329f7c;
}

#ServiceAreas {
  margin-top: 50px;
  margin-bottom: 50px;
}

#SevenAreas {
  margin-top: 50px;
  margin-bottom: 50px;
}

#Breakdown {
  margin-top: 50px;
  margin-bottom: 50px;
}

#GetInvolved {
  margin-top: 50px;
  margin-bottom: 50px;
}
