/* hero Styles */

.hero {
  display: flex;
  /*position: absolute;*/
  background-color: rgba(34, 15, 37,1);
  height: 75vh;
  min-height: 420px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  z-index: -100;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.content {
  position: relative;
  padding-top: 0px;
}

.content > h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: rgba(255,255,255,1);
  font-weight: 100;
}

@media small {
  .container {
    padding: 0px 15px;
  }
}
