.sankeyChart {
  margin-bottom: 20px;
}

.sankeyNode rect {
  fill: #999;
  shape-rendering: crispEdges;
}

.sankeyNode {
  fill-opacity: .6;
}

.sankeyNode:hover {
  cursor: pointer;
  fill-opacity: 1;
}

.sankeyNode text {
  fill: #555;
  font-size: .75em;
  stroke: none;
}

.sankeyLink {
  fill: none;
  stroke: #cccccc;
  stroke-opacity: .4;
}

.sankeyLink:hover {
  cursor: pointer;
  stroke-opacity: .8;
}
