@value small, desktop, primary from  "../../assets/constants.css";

.container {
  background-color: primary;
  width: 100%;
  min-width: 320px;
}

.header {
  background-color: primary;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav {
  margin: 0 30px 0 0;
}

.copyright {
  flex: 1;
}

.logo {
  margin: 1rem 0 0 2rem;
  flex: 2;
}

a.burger {
  display: none;
  padding: 2rem;
}

@media small {
  a.burger {
    display: block;
  }

  .nav.inactive {
    display: none;
  }
  .nav.active {
    display: block;
  }
}
