@value small, desktop from  "../../assets/constants.css";

.Nav {
  position: relative;
  min-width: 320px;
}

.Nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.Nav ul li {
  flex: 1 1 100%;
}

.Nav ul li span i { margin-left: 10px; }

.Nav a {
  color: rgba(255,255,255,.65);
  flex: 1;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

.Nav a:hover {
  color: rgba(255,255,255,.85);
  text-decoration: none;
}


.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}

a.ex {
  display: none;
  position: absolute;
  right: 1rem;
  width: auto;
  z-index: 999;
}

@media desktop {

  .nestedMenu a {
    color: rgba(238,73,92,1);
    padding: 5px 0px;
    text-align: left;
    font-size: 16px;
  }

  .nestedMenu {
    position: absolute;
    z-index: 999;
    margin-top: 0px;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    transition: all .5s cubic-bezier(0.42, 0, 0.14, 1);
  }

  .nestedMenu::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -24px;
      border-width: 12px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
  }
}

@media small {
    a.ex {
      display: block;
    }

  .Nav {
    transition: all .2s linear;
  }

  .Nav.visible {
    opacity: 1;
  }

  .Nav.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .Nav {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    left: 0;
    background-color: rgba(34,15,37,1);
  }

  .Nav ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding-top: 80px;
  }

  .Nav ul li {
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
    margin: 0;
    padding: 0;
    flex: none;
  }

}
