/* Base */

html {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #fffefe;
  font-family: "Merriweather";
  font-weight: 400;
  color: #001732;
  min-height: 100% /* [3] */;
  -webkit-text-size-adjust: 100% /* [4] */;
  -ms-text-size-adjust: 100% /* [4] */;
  -moz-osx-font-smoothing: grayscale /* [5] */;
  -webkit-font-smoothing: antialiased /* [5] */;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* utitlity */

a {
  color: #1e62bd;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.25s ease-in-out;
}

a:hover {
  color: #1e62bd;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

/* Global Styles from product_design */

/* Typography */
.Description {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.7;
}

.Title {
  font-size: 3.57rem;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  margin-bottom: 12px;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h6 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

p {
  font-size: 1em;
  color: #201024;
}

.Pullquote {
  font-size: 2.85rem;
}
