.budget {
  text-align: left;
}

.publicIcons {
  width: 75px;
  height: 75px;
}

.breakdown {
  text-align: left;
  width: 80%;
  height: 80%;
}

.arrows {
  width: 50%;
  height: auto;
}

#LearnAbout {
  text-align: left;
  margin: 5px;
  padding: 10px;
  background: lightgray;
}

.resources li {
  text-align: left;
  margin-bottom: 10px;
}
