.base {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    padding: 3px 10px;
    margin: 10px;
}

.content {
  background-color: rgba(44, 45, 85, 1);
}