{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-1",
        "react"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "cjs": {
      "presets": [
        [
          "es2015",
          {
            "modules": "commonjs"
          }
        ],
        "stage-1",
        "react"
      ]
    },
    "esm": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-1",
        "react"
      ]
    }
  }
}
