.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    height: 100px;
    width: 200px;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
	font-size: 20px;
  color: #00cc99;
}

.tooltip .name {
  font-weight:bold;
}
