button.base {
  display: flex;
  padding: 6px 6px 6px 6px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease-in-out;
  font-size: 1em;
  font-weight: 500;
  color: rgba(238, 73, 80, 1);
  cursor: pointer;
  font-weight: 600;
}

.base {
    border: 2px solid rgba(238, 73, 80, 1);
}

.base i {
    margin-right: 12px;
}

.base span {
  flex-wrap: nowrap;
  transition: all .2s ease-in-out;
}

.base:hover {
    background-color: rgba(238, 73, 80, 1);
    color: #fff;
}

.base:focus {
    outline: none;
}