.Header {
  display: flex;
  align-items: center;
  background-color: rgba(34,15,37,1);
  padding: 1rem;
  z-index: 1;
}

.Header .logo {
  margin: 1rem 0 0 4rem;
  font-size: 2rem;
  flex: 1 1 100%;
}

.logo img {
  height: 80px;
  width: auto;
}