li a {
    display: block;
    /*padding: 1rem 0;*/
}

.NavRouterLink a {
    color: rgba(255,255,255,.65);
    /*flex: 1;*/
    font-family: 'filson-soft', sans-serif;
    font-size: 1.25em;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    /*line-height: 2rem;*/
}

.NavRouterLink a:focus {
    color: rgba(255,255,255,.85);
}

.NavRouterLink a:hover {
    color: rgba(255,255,255,.85);
    text-decoration: none;
}

.NavRouterLink a:active {
    color: rgba(255,255,255,.85);
}
