<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWebpackPlugin.options.commitSha) { %>
  <meta commitSha='<%= htmlWebpackPlugin.options.commitSha %>'/>
  <% } %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Hack Oregon Project Title</title>
</head>
<body>
<div id="content"></div>
</body>
</html>
